html,
body,
#container,
.carousel {
  height: 100%;
  margin: 10;
  width: 100%;
}

.image-slide {
  height: 100%;
  width: 100%;
  margin: 10;
  transition: background-image 0.3s ease-in-out;
}

.slide-arrow {
  color: #d49a14;
  cursor: pointer;
  font-size: 2rem;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}
